@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




*{
    /* background: rgb(245, 248, 255); */
}

.display-flex{
    display: flex;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.container-color{
    color: rgb(37, 36, 50);
}
.banner-chart-color{
    color: rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-items li a ,p{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(137, 135, 161);
}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
    margin: auto;
    max-width: 1280px;
}
.banner img{
    width: 570px;
    height: 355px;
}
.banner-color{
    color: rgb(233, 90, 8);
}
.banner-justifay{
    position: static;
    width: 570px;
    height: 108px;
}
.plants{
    max-width: 850px;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}
.flower-section{
   display: canter;
}

.flower-img-container  {
    background-image: url(./assets/deal-bloom.png);
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
.flower-img-contact{
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    
   
}
.love-flower{
    background-image: url(./assets/deal-zabo.png);
    background-size: cover;
    width: 753px;
    height: 423.13px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
.decoretio{
    color:rgb(255, 255, 255);
    width: 79px;
    height: 12px;
    gap: 10px
}

.flower-card-container{
    display: flex;
    gap: 20px;
    padding-top: 49px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.flower-card {
    width: 270px;
    height: 322.94px;
    text-align: center;
   
}
.btn-primary{
    width: 270px;
    height: 50px;
    background: rgb(233, 90, 8);
    font-size: 15px;
    color: white;
    border-radius: none;
}
.flower-title{
    width: 540px;
    height: 125px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    margin-left: 60px;
    margin-top: 50px;
}
.flower-contant{
    width: 540px;
    height: 108px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-left: 65px;
}
.flower-shop{
    /* border: 1px solid tomato; */
    width: 540px;
    height: 597px;
    position: relative;

}
.trust-mark{
    width: 286px;
    height: 286px;
}
.flower-plant-section{
    display: flex;
    justify-content: center;
    
}

.some-flower{
    position: relative;
}
.badge{
   position: absolute;
   /* border: 1px solid tomato; */
   height: 286px;
   width: 286px;
   z-index: 50;
   top: -130px;
   right: -99px;

}
.main-image{
    width: 540px;
    height: 597px;
    height: auto;
    display: block;
    z-index: 10;
}
.latest-color{
    color: rgb(233, 90, 8);
}
.latest-deal{
    max-width: 850px;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}
.some-flower{
   justify-content: center;
   gap: 28px;
   border-radius: 10px;
}
.contact-us{
    background:url(./assets/news-letter-bg.png) ;
    background-position:100%;
    width: 100%;
    height: 533px;;
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.contact-int-btn-parent input {
    border: none;
    padding:1rem 30rem 1rem 1rem;
}

.contact-us h1{
    color: rgb(255, 255, 255);
}
.last-section{
    margin-top: 100px; 
    justify-content: center;
}    
.section-pera{
    position: static;
    width: 359px;
    height: 81px;
}
.section-list li a{
    text-decoration: none;
    color: rgb(107, 114, 128);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
     
}
.section-list{
    list-style: none;
    
}
.social-media{
    position: static;
    width: 216px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24;
    justify-content: space-around;
}


/* resposive media query */
@media screen and (max-width: 576) {
    .last-section,
    .nav-items,
     nav,
    .some-flower,
    .flower-plant-section {
        flex-direction: column;
    }
    .last-section{
        grid-template-columns: 1fr;
    }
    .flower-section {
        grid-template-columns: repeat(1, 2fr);
    }
    .flower-section{
        justify-items: center;
    }

}